.lg {
    font-family: Apple Chancery, cursive;
    text-align: center;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    border-radius: 5px;
    background-color: #9492925b;
    display: inline-block;
    width: 25%;
    height: 49%;    

}
#reg{ float: right;}

.info {
    font-family: Apple Chancery, cursive;
    text-align: center;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    border-radius: 5px;
    display: inline-block;
    background-color: #9492925b;
    width: 25%;
    height: 49%;    
}